<div class="panel-body">
<%= form_for(@shift) do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :vols %><br>
    <%= f.number_field :vols, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Create Shift", class: "btn btn-primary"%>
  </div>

<% end %>
