
<div class="panel-body">

  <%= simple_form_for @activity do |f| %>
    <!-- alerts -->
    <% if @activity.errors.any? %>
      <div id="error_explanation">
	<h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
	<ul>
	  <% @activity.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
    <% end %>
    <!-- alerts end -->

    
    <div class="field form-group">
      <%= f.label "Activity Name" %>
      <%= f.text_field :title, placeholder: 'Check the spreadsheet', class: "form-control" %>
    </div>


    <h2>Shifts</h2>	
    <div class="items field form-group container jumbotron">
      <%= f.nested_fields_for :shifts do |f| %>
	<fieldset class="item">
          <%= f.label "Shift Time" %> <br>
	  <%= f.select :title, ['Friday 4-6 setup', 'Saturday 9-11 setup', 'Saturday 11-12', 'Saturday 12-1', 'Saturday 1-2', 'Saturday 2-3', 'Saturday 3-5 teardown'], class: "form-control" %>
	  <br>
	  
          <%= f.hidden_field :id %>
          <%= f.hidden_field :_destroy %>
	</fieldset>
	<hr>
	<br>
      <% end %>
    </div> 
    <a href="#" class="add btn btn-primary">Add Shift</a>
    <br>
    <br>






    
    <div class="field form-group">
      <%= f.label :coordinator %><br>
      <%= f.text_field :coordinator, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label :tickets %><br>
      <%= f.select :tickets, 1..20, class: "form-control" %>
    </div>

    <div class="field form-group">
      <%= f.label "Painted Sign?" %><br>
      <%= f.check_box :painted_sign, class: "form-control" %>
    </div>

    <div class="from-group">
      <%= f.submit "Create Activity", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>
