<div class="container">

  <h1>Fair Activities</h1>

    <%= link_to 'New Activity', new_activity_path, class: "btn btn-primary" %>

<div class="center">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
	<th>Booth/Activity Station</th>
	<th>Coordinator</th>
	<th>Station Shift</th>
	<th>Volunteers Needed</th>
      </tr>
    </thead>

    <tbody>
      <% @activities.each do |activity| %>
	<tr>
          <td class="danger"><strong><%= activity.title %></strong></td>
	  <td><em><%= activity.coordinator %></em></td>
	  <td></td>
	  <td></td>
	</tr>

	<% #@shifts = activity.shifts.pluck(:title, :vols) %>
	<% #@shiftcount = activity.shifts.count %>
	<% #@shifts.each do |duck| %>

	<% @shifts = activity.shifts.pluck(:title) %>
	<% @uniq_shifts = @shifts.uniq %>
	<% @shiftcount = activity.shifts.count %>
	<% @uniq_shifts.each do |shift_title| %>

	  <% if @shiftcount > 0 %>
	    <tr>
	      <td></td>
	      <td></td>
	      <td class="text-primary active"><strong><%= shift_title %></strong></td> 
	      <td class="text-primary info"><strong><%= @shifts.select { |title| title == shift_title }.count %></strong></td>	    
	    </tr>
	  <% end %>
	<% end %>
      <% end %>
    </tbody>
  </table>
</div>

  <br/>


  <!-- implement functionality which only displays this link if user is admin -->
  <%= link_to 'New Activity', new_activity_path, class: "btn btn-primary" %>


</div>
