<div class="container">

  <h1>Fair Activities</h1>

    <!-- implement functionality which only displays this link if user is admin -->
    <%= link_to 'New Activity', new_activity_path, class: "btn btn-primary btn-block" %>

  <div class="container">
    <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Booth/Activity Station</th>
	    <th>Coordinator</th>
	    <th>Station Shift</th>
	    <th>Volunteers Needed</th>
	    <th></th>
	  </tr>
	</thead>

      <tbody>
	<% @activities.each do |activity| %>
	  <tr>
            <td><%= activity.title %></td>
	    <td><%= activity.coordinator %></td>

	    <% if activity.shifts.count > 0 %>
	      <td>
		<%= activity.shifts.pluck(:title).first if activity.shifts %>
		<%= activity.shifts.pluck(:vols).first if activity.shifts %>
	      </td>	    
	      <td><%= activity.shifts.pluck(:vols) if activity.shifts %></td>	    
	    <% end %>
	      
            <td><%= link_to 'Show', activity %></td>
            <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
            <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
</div>

  <br/>


    <!-- implement functionality which only displays this link if user is admin -->
    <%= link_to 'New Activity', new_activity_path, class: "btn btn-primary btn-block" %>


</div>
