<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Coordinator:</strong>
  <%= @activity.coordinator %>
</p>

<p>
  <strong>Number of Tickets:</strong>
  <%= @activity.tickets %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Activities', activities_path %>
<%= link_to 'New', new_activity_path %>

